body{
    background-color: #191919;
}

.status {
    background-color: #200F21;
    border: medium dashed green;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 30%;
    height:50%;
    top: 15%;
    left: 55%;
    font-size: 50px;
}


.counter {

}
.disable {
    display:none
}

.description {

    font-size: 40px;
    color:#C84B31;
}

.error {

    font-size: 40px;
    color:red;
}

.selector {
    background-color: #200F21;
    border: medium dashed green;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 30%;
    height:50%;
    top: 15%;
    left: 15%;
    font-size: 50px;
}
.CountTitle {
    text-align: center;
    color: #C84B31;
}

.selTitle {
    color: #C84B31;
    margin-top: 75px;
}

